.navbar-toggler {
    border: 1px solid #3a3a3a !important;
    padding: 0.25rem 0.5rem !important;
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0,0,0,0.8)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    }

    &:focus {
        outline: 1px dotted;
        outline: 5px auto #C42777;
    }
    float: right;
}

.navbar-mobile {
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    position: fixed;
    overflow-y: scroll;
    font-family: 'Raleway', sans-serif;
    z-index: 10;
    transition: none;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-duration: 0.0s;
    transition-duration: 0.0s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;

    .close {
        font-size: 3rem;
    }

    .mm-logo-container {
        .mm-brand-img {
            width: 250px;
        }
    }

    .menu-mobile {
        margin-top: 0;

        ul {
            padding-inline-start: 0;
        }

        .mm-navbar-list {
            list-style: none;

            .mm-nav-item {
                .mm-nav-link {
                    font-size: 2.5em;
                    font-weight: 700;
                    color: #3a3a3a;
                    -webkit-transition: all 200ms ease;
                    -moz-transition: all 200ms ease;
                    -ms-transition: all 200ms ease;
                    -o-transition: all 200ms ease;
                    transition: all 200ms ease;
                    padding: 0.3rem 0.2rem;
                    text-decoration: none;

                    &:hover {
                        color: #7f7f7f;
                    }
                }
                .navbar-mobile-destinations {
                    background-color: #fff;
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 125%;
                    list-style: none;
                    z-index: 1;

                    li a {
                        font-size: 1.2rem;
                        font-weight: 700;
                        color: #3a3a3a;
                    }
                }
            }
        }
    }

    .mm-social-bar {
        .menu-social {
            list-style: none;
            padding-inline-start: 0;
            padding-left: 0.3rem;

            .menu-social-item {
                display: inline-block;
                margin-right: 0.3rem;

                a {
                    font-size: 1.5rem;
                    color: #3a3a3a;
                }
            }
        }
    }

    .mm-features-bar {
        .features-bar {
            list-style: none;
            padding-inline-start: 0;
            padding-left: 0.3rem;

            .featuresbar-item {
                a {
                    color: #3a3a3a;
                    font-size: 0.9rem;
                    text-decoration: none;
                }

                ul {
                    list-style: none;
                }
            }
        }
    }

    .mm-copyright {
        padding-left: 0.3rem;
        font-size: 0.6rem;
        color: #3a3a3a;            
    }

    @media (min-width: 576px) {
        .mm-logo-container {
            .mm-brand-img {
                width: 300px;
            }
        }
    }
}