.collapse.show {
    visibility: visible;
    display: block;
  }
  .collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-duration: 0.0s;
    transition-duration: 0.0s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
  }
  .collapsing.width {
    -webkit-transition-property: width, visibility;
    transition-property: width, visibility;
    width: 0;
    height: auto;
  }

.main_menu {
    background-color: #fff;

	.navbar {
        display: flex;
        justify-content: flex-end;
        .nav-link {
            color: #1e88e5;
            font-size: 1rem;
            font-family: 'Raleway', sans-serif;
            text-transform: capitalize;
            line-height: 1.5;
            font-weight: 500;

            &:hover {
                color: #3a3a3a;
            }
        }
    }
    
    .main-menu-item {
        ul {
            li .nav-link {
                color: #fff;
                font-size: 15px;
                padding: 36px 23px;
                font-family: 'Raleway', sans-serif;
                text-transform: capitalize;
                line-height: 12px;
                font-weight: 500;

                &:hover {
                    color: #fff;
                }
            }
        }
    }

    .navbar-tools {
        a  {
            padding-left: 0.6rem;
            svg {
                font-size: 1rem;
                color: #fff;
            }
        }
    }
}